{% load i18n %}

{% block subject %}
{% blocktrans %}Password reset on Fomo Social{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at fomosocial.com.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
fomosocial.com/password_reset/{{ url }}
{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}


{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}You're receiving this email because you requested a password reset for your user account at fomosocial.com.{% endblocktrans %}</p>

<p>{% trans "Please go to the following page and choose a new password:" %}</p>
<a href="#">fomosocial.com/password_reset/{{ url }}</a>
<p>{% trans "Your username, in case you've forgotten:" %} <b>{{ user.get_username }}</b></p>


<p>{% trans "Thanks for using our site!" %}</p>

<p>{% blocktrans %}The Fomo Social team{% endblocktrans %}</p>
{% endblock html_body %}