/*Text*/
p, b, li, ul, ol, thead, tfoot, th, td, textarea, input, label, div.readonly, .messagelist li, a, td, select, .readonly, .breadcrumbs {font-size: 18px !important; }
h1 {font-size: 28px !important; }
h2 {font-size: 24px !important; }
h3 {font-size: 22px !important; }
h4, caption {font-size: 20px !important; }
h5 {font-size: 18px !important; }
#user-tools {
  font-size:18px;
  font-weight: 500;
}

@media (min-width: 1024px) and (max-width: 1210px) {
  #user-tools a {
    font-size:16px;
    display: block !important;
    line-height: 1.4;
  }
}


/*Tables*/
.table-caption {
  background-color: #2C57AD;
  color: white;
  font-size: 26px !important;
  text-align: left !important;
  padding: 5px;
}
.table-bar {
  background-color: #2C57AD;
  height: 20px; 
}

#ajax-table {
  margin-top: 20px;
  margin-bottom: 50px;
}
#ajax-table td, #ajax-table th {font-size: 20px !important; }


/*Margin/Padding/Display*/
.pr-20 {padding-right: 20px; }
.mt-30 {margin-top: 30px; }
.mb-60 {margin-bottom: 60px; }
.mw-600 {max-width: 600px; }
.inline-group .tabular tr.has_original td {padding-top: 8px; }
.original, .help {display: none; }
.closelink {display: none !important; }

@media (min-width: 0px) and (max-width: 390px) {
  .navbar-brand img {max-width: 290px; }
  #user-tools a {display: block; }
}
@media (min-width: 390px) and (max-width: 768px) {
  .navbar-brand img {max-width: 300px; }
}
@media (min-width: 768px) {
  .navbar-brand img {max-width: 300px; }
}
